@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 18 18 18; /* #121212 */
    --surface: 30 30 30;    /* #1E1E1E */
    --primary: 255 77 77;   /* #FF4D4D */
  }

  body {
    @apply bg-background text-textMain antialiased;
  }
}

/* Custom Scrollbar for "Studio" feel */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  @apply bg-surfaceHighlight rounded-full;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-600;
}
